*{
	padding: 0;
	margin: 0;
}

body {
	font-family: "Myriad Pro", Myriad, Tahoma, sans-serif;
}

.main{
	width: 900px;
	margin:62px auto;	
}

.left_panel{
	width: 340px;
	float: left;
}
.right_panel {
	width: 500px;
	float: right;
}

.photo_box{
	float:left;
	text-align:center;
	width:100%;
	line-height: 40px;
	margin-bottom:45px;
}

.name
{		
	margin-bottom: 5px;
}

.photo_box h1{ 
	padding: 14px 0 1px 0;
	font-size: 42px;	
	font-weight: normal;
	font-variant:small-caps;
}

.photo_box h2{     
	font-size: 44px;	
	text-transform: uppercase;
	font-weight: bold;	
}

.photo_box h3{
	font-size: 18px;	
	text-transform: uppercase;
	font-weight: bold;	
}

.photo_box img{    
    margin:9px 0 0 0;	
}

.section{
	margin: 0 0 28px 0;
    float: left;
	font-size: 12px;	
	width: 100%;
}
.section .section-header{
	white-space:nowrap;
	overflow:hidden;
	margin:3px 0;
}

.section .section-header .name-section h2{
	display: inline-block;
	font-size: 30px;
	color: #0270ba;
	text-transform: uppercase;	
	margin: 0 0 0 5px;
	
}

.section .icon-of-section, .section .name-section, .section .line{
	display:inline-block;
	vertical-align: middle;
}

.section .line{
	background-color: #0270ba;
	height: 4px;
	width: 100%;
	margin: 2px 0 0 6px;
}

.icon-of-section{	
	margin:0;	
}

.section .contant-row{
	margin-top:	22px;
	font-size:15px;
}

.section .contant-row b{
	color: #0270ba;
	text-transform: uppercase;	
}
.section .contact-information{
	float:right;
	width:72%;	
}
.skill{
	width:294px;
	margin:10px auto;
	text-align:center;
	font-size:18px;
	text-transform:uppercase;	
	clear: both;
}
.skill-progress{margin: 4px 0 0 0;}
.skill li{	
	margin:0 5px;
	display:inline-block;
	width: 14px;
	height: 14px;
	background-color: #0270ba;
	border-radius: 7px;
	list-style-type:circle;
}
.skill li.empty{
	background-color: #e6e6e6;
}