*{
	padding: 0;
	margin: 0;
}

body {
	font-family: "MyriadProRegular", Myriad, Arial, sans-serif;
}

.main{
	width: 900px;
	margin: 54px auto 10px auto;
}

.left_panel{
	width: 340px;
	float: left;
}
.right_panel {
    width: 510px;
    float: right;
}

.photo_box{
	float:left;
	text-align:center;
	width:100%;
	line-height: 40px;
	margin:7px 0 48px 0;
}

.name
{		
	margin-bottom: 5px;
}

.photo_box h1{ 
	padding: 11px 0 1px 0;
	font-size: 45px;	
	font-weight: normal;
	font-variant:small-caps;
}

.photo_box h2{     
	font-size: 49px;	
	text-transform: uppercase;
	font-weight: bold;	
	font-family: "MyriadProBold";
}

.photo_box h3{
	font-size: 19px;	
	text-transform: uppercase;	
	font-family: "MyriadProBold";
}

.photo_box img{    
    margin:9px 0 0 0;	
}

.section{
	margin: 0 0 28px 0;
    float: left;
	font-size: 13px;	
	width: 100%;	
}
.section .section-header{
	white-space:nowrap;
	overflow:hidden;
	margin: 3px 0 10px 0;
}

.section .section-header .name-section h2{
	display: inline-block;
	font-size: 32px;
	color: #0270ba;
	text-transform: uppercase;	
	margin: 0 0 0 4px;
	font-family: "MyriadProBold";
}
.right_panel .section-header .name-section h2{
	margin: 0 0 0 13px;
}

.section .icon-of-section, .section .name-section, .section .line{
	display:inline-block;
	vertical-align: middle;
}

.section .line{
	background-color: #0270ba;
	height: 4px;
	width: 100%;
	margin: 2px 0 0 6px;
}

.icon-of-section{	
	margin:0;	
}

.section .contant{
    margin-top: 24px;
    font-size: 16px;
}

.section .contant b{
	color: #0270ba;
	font-family: "MyriadProBold";
    font-size: 16px;
	text-transform: uppercase;	
}
.section .contact-information{
	float:right;
	width:70%;	
}

.skills_box{
	margin:23px 0;
}
.skill{
	width:268px;
	margin:13px auto;
	text-align:center;
	font-size:18px;
	text-transform:uppercase;	
	clear: both;
}
.skill-progress{
	margin: 4px 0 0 0;
}

.skill li{	
	margin:0 4px;
	display:inline-block;
	width: 14px;
	height: 14px;
	background-color: #0270ba;
	border-radius: 7px;
	list-style-type:circle;
}
.skill li.empty{
	background-color: #e6e6e6;
}

.section .item{
	margin: 19px 0 0 9px;
	float:right;
	clear: both;	
}

.item .content .title::before{	
	width:16px;
	height:16px;
	border-radius:8px;
	float:left;
	background-color:black;
    margin-top: 7px;	
	content:"";
	margin-left: -35px;
	position: absolute;
}
.section .item .content p b{
	margin-right: 13px;
	font-family: "MyriadProBold";
	text-transform: uppercase;	
}
.section .item .content p.text-size{	
    overflow: hidden;     
    text-overflow: ellipsis; 
}
.section .item .content .title h1{
	font-size: 20px;
	font-family: "MyriadProBold";
	color: #0270ba;	
}
.section .item .title{
	font-size: 20px;
}

.section .content h2{
	font-size: 20px;
	font-weight: normal;	
    text-transform: uppercase;
    margin: 4px 0 3px;
}
.section .subtitle{
	font-size: 20px;
    text-transform: uppercase;
    margin: 4px 0 3px;
}
.section .item .content{
	width: 93.3%;
	float:right;
	margin-bottom: 10px;	
}

.section .item .content .title h1::after{
	content:"// Feb 2011 - Jun 2014";
	font-family: "MyriadProRegular";
	margin-left:22px;
	color:black;
	font-weight:normal;
}

.section .soft{
	width:44%;
	float:left;
	margin: 9px 0;
}

.section .soft:nth-child(2n){		
	margin-right:12%;
}

.section .soft .soft-progress{
	width:100%;	
	background-color: #e6e6e6;	
	margin: 8px 0 0 0;
}

.section .soft .progress{	
	height:18px;
	background-color: #0270ba;
}

.width-94{
	width:94%;
}

footer{
	height: 57px;	
	background-image: url(../images/logo.png);
	background-size:34%;
	background-position: center;
	background-repeat: no-repeat;
	clear:both;	
}



/* font-family: "MyriadProRegular"; */
@font-face {
	font-family: "MyriadProRegular";
	src: url("MyriadProRegular/MyriadProRegular.eot");
	src: url("MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	url("MyriadProRegular/MyriadProRegular.woff") format("woff"),
	url("MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
	font-family: "MyriadProBold";
	src: url("MyriadProBold/MyriadProBold.eot");
	src: url("MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
	url("MyriadProBold/MyriadProBold.woff") format("woff"),
	url("MyriadProBold/MyriadProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
	font-family: "MyriadProItalic";
	src: url("MyriadProItalic/MyriadProItalic.eot");
	src: url("MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
	url("MyriadProItalic/MyriadProItalic.woff") format("woff"),
	url("MyriadProItalic/MyriadProItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
	font-family: "MyriadProSemiBold";
	src: url("MyriadProSemiBold/MyriadProSemiBold.eot");
	src: url("MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
	url("MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
	url("MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
	font-family: "MyriadProBoldItalic";
	src: url("MyriadProBoldItalic/MyriadProBoldItalic.eot");
	src: url("MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
	url("MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
	font-family: "MyriadProSemiBoldItalic";
	src: url("MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
	src: url("MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
	url("MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}